@import '../../themeColors';

.SearchFilms {
    &-form {
        text-transform: uppercase;
        color: $fontColor;
        font-size: 14px;
        margin-top: 30px;
    }

    &-input {
        width: 100%;
        height: 45px;
        margin-top: 15px;
        background-color: rgba(0, 0, 0, 0.7);
        padding-left: 20px;
        color: $fontColor;
        border: 0;
        border-bottom: 2px solid $mainColor;
    
        &:focus {
            outline: none;
        }
    }

    &-buttons {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: right;
    }

    &-submit-btn {
        width: 150px;
        height: 30px;
        background-color: $mainColor;
        border: 0;
        border-radius: 1px;
        font: {
            weight: bold;
            size: 12px;
        }
        text-transform: uppercase;
        color: $fontColor;

        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: 0;
        }
    }
}